{% extends 'base.html' %} {% block style %}
<style>
  table,
  td,
  th {
    border: 1px solid;
  }

  table {
    border-collapse: collapse;
  }
</style>
{% endblock %} {% block body %}
<h1>RECIPES LIST</h1>

{% for recipe in recipes %}
<div style="margin-bottom: 30px">
  <h2><a href=""> {{ recipe.name }} </a></h2>
  <table style="margin-left: 20px">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
    </tr>

    {% for recipe_ingredient in recipe.ingredients.all %}
    <tr>
      <td>{{recipe_ingredient.ingredient.name}}</td>
      <td>{{recipe_ingredient.quantity}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endfor %} {% endblock %}
